<div class="container mt-5">
  <button type="button" class="btn btn-primary" (click)="openModalAddLayer(layerAdd)">Add layer</button>
  <h3>Inputs: </h3>
  <p></p>
  <div class="layer" *ngFor="let layer of network.layers">
    <div class="row">
      <div class="col-2">
        <p>Layer: {{layer.layerNumber}} <button  (click)="openModalAddNeuron(neuronAdd, layer)" type="button" class="btn btn-primary">Add neuron</button></p>
        <button type="button" class="btn btn-danger mr-5" (click)="deleteLayer(layer)">Delete layer</button>
      </div>
      <div class="col-10">
        <div type="button" class="dot btn-primary"  
        [tooltip]="content" *ngFor="let neuron of layer.neurons"
         (mouseenter)="onNeuron(neuron)" (click)="openModal(neuronEdit, neuron)"><h4>{{neuron.value}}</h4></div>
      </div>
    </div>
    
  </div>  
</div>


<ng-template #neuronEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Neuron</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="editNeuron()" #editNeuronForm="ngForm">
      <div class="form-group">
        <label class="control-label" for="value">Value:</label>
        <input type="number" id="value" class="form-control"  name="value"
        required #value="ngModel" [(ngModel)]="neuron.value">
        <div *ngIf="value.touched && value.invalid" class="text-danger">You need to provide value.</div>
      </div>
      <div class="form-group">
        <label class="control-label" for="weight">Weight:</label>
        <input type="number" id="weight" class="form-control"  name="weight"
        required #weight="ngModel" [(ngModel)]="neuron.weight">
        <div class="text-danger" *ngIf="weight.invalid && weight.touched" >You need to provide weight.</div>
      </div>
    
      <button type="submit" [disabled]="!editNeuronForm.valid" class="btn btn-primary mr-5">Edit Neuron</button>
      <button type="button" class="btn btn-danger" (click)="deleteNeuron(neuron)">Delete neuron</button>
    </form>
  </div>
</ng-template>

<ng-template #neuronAdd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Neuron</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addNeuron()" #addNeuronForm="ngForm">
      <div class="form-group">
        <label class="control-label" for="value">Value:</label>
        <input type="number" id="value" class="form-control"  name="value"
        required #value="ngModel" [(ngModel)]="neuron.value">
        <div *ngIf="value.touched && value.invalid" class="text-danger">You need to provide value.</div>
      </div>
      <div class="form-group">
        <label class="control-label" for="weight">Weight:</label>
        <input type="number" id="weight" class="form-control"  name="weight"
        required #weight="ngModel" [(ngModel)]="neuron.weight">
        <div class="text-danger" *ngIf="weight.invalid && weight.touched" >You need to provide weight.</div>
      </div>
    
      <button type="submit" [disabled]="!addNeuronForm.valid" class="btn btn-primary mr-5">Add Neuron</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</ng-template>

<ng-template #layerAdd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Layer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary mr-5" (click)="addLayer()">Add layer</button>
    <button type="button" (click)="modalRef.hide()" class="btn btn-danger">Cancel</button>
  </div>
</ng-template>
